section#join-facebook-groups-section-carousel-section ul {
    list-style: none;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;

    gap: 1.8rem;

    overflow-x: auto;
}

section#join-facebook-groups-section-carousel-section ul li{
    background: #FFFFFF;

    min-width: 38rem;
    width: 38rem;
    height: 47rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    padding: 1rem;
    padding-bottom: 4rem;

    border-radius: 1.2rem
}
