main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    width: 100%;
    padding: 0 16.8rem;
}

main div.filler-div {
    width: 100%;
    background: rgba(250, 235, 215, 0.5);
    color: grey;

    text-align: center;
    font-weight: bold;

    flex-grow: 1;
}

section#join-facebook-groups-section {
    width: 100%;
    min-height: 73rem;
    height: 73rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
}

section#join-facebook-groups-section span#join-facebook-groups-section-dev-label {
    position: absolute;
    top: -1.2rem;
    left: 0;

    background: navajowhite;

    font-size: .8rem;
    color: darkred;

    padding: .2rem;

    line-height: normal;
    z-index: -1;
}

section#join-facebook-groups-section header {
    background: #F6F6F6;
    height: 16.2rem;
    width: 100%;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;

    padding: 2rem 0;
}

section#join-facebook-groups-section header h2 {
    width: 100%;

    font-size: 4rem;

    font-style: normal;
    font-weight: 500;
    line-height: 4.8rem; /* 120% */
    letter-spacing: -0.8px;

    color: #010021;
}

section#join-facebook-groups-section header p {
    width: 100%;

    font-size: 1.8rem;

    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;

    color: #293356;

    padding-bottom: 2.4rem;
}

section#join-facebook-groups-section section#join-facebook-groups-section-carousel-section {
    min-height: 57rem;
    height: 57rem;
    width: 100%;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 2rem 0;
}


button#join-facebook-groups-section-carousel-section-left-slider-btn,
button#join-facebook-groups-section-carousel-section-right-slider-btn {
    position: absolute;
    bottom: 38%;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 6.4rem;
    width: 6.4rem;

    border-radius: 51%;
    border: none;

    background: #FFFFFF;
    box-shadow: 0 .4rem .6rem rgba(0, 0, 0, 0.25);
}

button#join-facebook-groups-section-carousel-section-left-slider-btn {
    left: 17rem;
}

button#join-facebook-groups-section-carousel-section-right-slider-btn {
    right: 17rem;
}
